# Virtual environments
venv/
.venv/

# Python artifacts
__pycache__/
*.py[cod]
*.so

# Environment files
.env

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/

# Editor directories and files
.vscode/
.idea/
.DS_Store
